{% extends 'base.html.twig' %}

{% block title %}The ugly directory - Register{% endblock %}

{% block body %}
    <h1 class="font-heading-1 text-center my-16">Register</h1>

    <div class="bg-light-green px-24 py-10 mx-40 mb-32" style="border-radius: 65px;">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}

        <p class="text-white text-center mt-5">Already have an account ? <a href="{{ path("app_login") }}" class="underline">Log in here.</a></p>
    </div>

{% endblock %}
