{% extends 'base.html.twig' %}

{% block title %}ACNH Villagers - {{ villager.name }}{% endblock %}

{% block body %}
<a href="{{ path("app_villager_index") }}" class="text-dark-green ml-16 mt-10 flex items-center" style="font-size: 18px;">
    <svg class="mr-4" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.70711 0.292893C6.09763 0.683417 6.09763 1.31658 5.70711 1.70711L2.41421 5L5.70711 8.29289C6.09763 8.68342 6.09763 9.31658 5.70711 9.70711C5.31658 10.0976 4.68342 10.0976 4.29289 9.70711L0.292893 5.70711C-0.097632 5.31658 -0.0976315 4.68342 0.292893 4.29289L4.29289 0.292893C4.68342 -0.0976306 5.31658 -0.0976306 5.70711 0.292893Z" fill="#31947F"/>
    </svg>
    Back to all villagers
</a>
<div class="single flex justify-center">
    <div class="w-1/3">
        <img class="mr-12 my-20" style="height: 400px;" src="{{ asset('/images/' ~ villager.imageUrl) }}" alt="" />
    </div>
    <div class="w-1/3">
        <div class="bg-light-green px-20 py-10 mt-20" style="border-radius: 50px;">
            <h1 class="font-heading-1 mb-4">{{ villager.name }}</h1>
            <p style="font-size: 18px;">Type : {{ villager.type }}</p>
            <p style="font-size: 18px;">Personality : {{ villager.personnality }}</p>
            <p style="font-size: 18px;">Level of ugliness : {{ villager.ugliness }}</p>
        </div>
    </div>
</div>
{# 
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ villager.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ villager.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ villager.type }}</td>
            </tr>
            <tr>
                <th>Ugliness</th>
                <td>{{ villager.ugliness }}</td>
            </tr>
            <tr>
                <th>Image_url</th>
                <td>{{ villager.imageUrl }}</td>
                <img src="{{ asset('/images/' ~ villager.imageUrl) }}" alt="" />
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_villager_index') }}">back to list</a>

    <a href="{{ path('app_villager_edit', {'id': villager.id}) }}">edit</a>

    {{ include('villager/_delete_form.html.twig') }} #}
{% endblock %}
